<li class="archive-item">
  <%- partial('post/date.ejs', { post: post }) %>
  <div class="info">
    <h2>
      <a href="<%- url_for(post.path) %>"><%- post.title %></a>
      <% if (post.topflag === true) { %>
        <span>📌</span>
      <% } %>
    </h2>
    <!-- <%- partial('post/info', { post: post }) %> -->
    <!-- <%- partial('post/tag', { post: post }) %> -->
  </div>
  <% if (post.cover) { %>
  <img class="index-cover" src="<%- post.cover %>" alt="<%- post.title %>">
  <% } %>
</li>